.color.red::before {
  background-color: red;
}

h4 {
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}

.avatar {
  border: 5px solid pink;
  border-radius: 50%;
  animation: animate-avatar 5s linear infinite;
}

@keyframes animate-avatar {
  0% {
    border-color: rgb(0, 174, 255);
    box-shadow: 3px 3px 13px rgb(255, 0, 255);
  }

  33% {
    border-color: rgb(255, 0, 255);
    box-shadow: 3px 3px 13px pink;
  }

  66% {
    border-color: pink;
    box-shadow: 3px 3px 13px rgb(0, 174, 255);
  }

  100% {
    border-color: rgb(0, 174, 255);
    box-shadow: 3px 3px 13px rgb(255, 0, 255);
  }
}
